{% extends "SM_DetectorApp/base.html" %}

{% load static %}

{% block content %}
<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <!-- <span class="section-heading-upper">Compromiso total</span> -->
              <span class="section-heading-lower">DIAGNÓSTICO</span>
            </h2>
            <p class="mb-0">Es una enfermedad autoinmune en la que nuestras propias células atacan a la mielina, estructura que recubre las neuronas para protegerlo. Siendo esta la hipótesis más plausible del origen de la EM, en las imágenes podemos observar una disminución de la densidad cerebral. Las neuronas dejan de estar protegidas por la capa que impide su degradación. 

                Cuando se degrada la mielina, se provoca una inflamación de las células neuronales, que es la responsable de los brotes y la progresión de la enfermedad. 
                
                Según la densidad cerebral podremos determinar el avance de la enfermedad, ya que cuanto más avanzada esté, más neurodegeneración se observará. 
                
                Del mismo modo, al ser las células B las que generan anticuerpos específicos llamados “ bandas oligoclonales” se puede utilizar su detección para el diagnóstico</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}